HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; BORDER-TOP-STYLE: none; LINE-HEIGHT: 25px; PADDING-TOP: 0px; FONT-FAMILY:"微软雅黑","宋体", Arial; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; background: url(../images/1288070717576.jpg) no-repeat center top;
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
CITE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
FONT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TBODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:hover {
	COLOR: #0a3a81! important
}
A {
	COLOR: #224364; TEXT-DECORATION: none;
}
.mnue a:hover{ color:#0a3a81;}
IMG {
	DISPLAY: block
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.fl_z {
	DISPLAY: inline; FLOAT: left;
}
.fr_z {
	DISPLAY: inline; FLOAT: right;
}
.cl_z {
	CLEAR: both
}
.mt10_z {
	MARGIN-TOP: 10px
}
.wrap_z { PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 1024px; PADDING-TOP: 0px; z-index:1;}
.mosttop {
	FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 950px; HEIGHT: 70px
}
.zoujiceng {
	FLOAT: left; WIDTH: 472px; MARGIN-RIGHT: 6px; HEIGHT: 70px
}
.zoujiceng IMG {
	FLOAT: left; WIDTH: 472px; HEIGHT: 70px
}
.toupiao {
	FLOAT: left; WIDTH: 472px
}
.zoujiceng IMG {
	FLOAT: left; WIDTH: 472px; HEIGHT: 70px
}
.more1_z {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN-RIGHT: 10px
}
.more2_z {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN-RIGHT: 10px
}
.more1_z {
	COLOR: #fff! important
}
.more2_z {
	COLOR: #0e417a! important
}
.header_z {
	OVERFLOW: hidden; WIDTH:1000px
}
.topLink_z {
	PADDING-LEFT: 20px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/top_bg.jpg) no-repeat left top; OVERFLOW: hidden; WIDTH: 930px; COLOR: #fff; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.topLink_z P {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 21px
}
.topLink_z SPAN {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 21px
}
.topLink_z A {
	DISPLAY: inline; FLOAT: left; COLOR: #fff; MARGIN-RIGHT: 18px
}
.topLink_z SPAN STRONG A {
	MARGIN-RIGHT: 10px
}
.jiucuo_z {
	PADDING-LEFT: 13px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/ico_jiucuo.gif) no-repeat left center
}
.connect_z {
	PADDING-LEFT: 13px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/ico_connect.gif) no-repeat left center
}
.zhuanzai_z {
	PADDING-LEFT: 13px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/zhuanzai_jiucuo.gif) no-repeat left center
}
.youxiang_z {
	PADDING-LEFT: 13px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/ico_youxiang.gif) no-repeat left center
}
.map_z {
	PADDING-LEFT: 13px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/ico_map.gif) no-repeat left center
}
.shengming_z {
	PADDING-LEFT: 13px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/ico_shengming.gif) no-repeat left center
}
.banner_z {
	BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/banner.jpg) no-repeat left top; OVERFLOW: hidden; WIDTH: 950px
}
.logo_z {
	MARGIN-TOP: 40px; DISPLAY: block; MARGIN-LEFT: 34px; WIDTH: 630px; HEIGHT: 85px
}
.nav_z {
	BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/nav_bg.jpg) no-repeat left top; WIDTH: 950px; HEIGHT: 60px
}
.menu_z {
	MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: 700px
}
.menu_z P {
	MARGIN-TOP: 5px; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; HEIGHT: 50px
}
.menu_z P A {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px 7px 0px 11px; OVERFLOW: hidden; COLOR: #fff; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.menu_z P A {
	COLOR: #fff
}
.menu_z .menuP1_z {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/menu_margin.gif) no-repeat right center; PADDING-BOTTOM: 0px; WIDTH: 266px; PADDING-TOP: 0px
}
.menu_z .menuP2_z {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/menu_margin.gif) no-repeat right center; PADDING-BOTTOM: 0px; WIDTH: 222px; PADDING-TOP: 0px
}
.menu_z .menuP3_z {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; WIDTH: 183px; PADDING-TOP: 0px
}
.search_z {
	OVERFLOW: hidden; WIDTH: 230px;
}
.search_z H2 {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-LEFT: 27px; OVERFLOW: hidden; COLOR: #fff; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.search_z P {
	PADDING-LEFT: 4px; BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/search_Bg.gif) no-repeat left top; PADDING-BOTTOM: 2px; MARGIN-LEFT: 27px; OVERFLOW: hidden; WIDTH: 220px; PADDING-TOP: 1px; HEIGHT: 23px
}
.search_z P SPAN {
	DISPLAY: inline; FLOAT: left
}
.btnSearch_z {
	BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/search_btn.gif) no-repeat left top; WIDTH: 69px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 23px; BORDER-BOTTOM-STYLE: none
}
.btnSearch_z INPUT {
	BACKGROUND: url(http://www.chinapesticide.org.cn/r/cms/www/default/images/search_btn.gif) no-repeat left top; WIDTH: 69px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 23px; BORDER-BOTTOM-STYLE: none
}
.keyword_z {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 45px; LINE-HEIGHT: 23px; HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px
}
.keyword_z INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 45px; LINE-HEIGHT: 23px; HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px
}
.keyword_z INPUT {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.keyword_z {
	MARGIN-RIGHT: 2px
}
.kinds_z {
	WIDTH: 69px; CURSOR: pointer; HEIGHT: 20px
}
.kinds_z SELECT {
	WIDTH: 69px; CURSOR: pointer; HEIGHT: 20px
}
.kinds_z {
	MARGIN-TOP: 1px; MARGIN-RIGHT: 5px
}
#footer {OVERFLOW: hidden; WIDTH:100%;HEIGHT: 150px; BACKGROUNDCOLOR: #1a59a9; }
.footer_z {OVERFLOW: hidden; WIDTH:100%;HEIGHT: 150px; BACKGROUNDCOLOR: #1a59a9;}
.footer_top_z {
	BORDER-TOP: #b2b2b2 1px solid; BACKGROUND: #e5eaee; BORDER-LEFT: #b2b2b2 1px solid; COLOR: #a0a1a5; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.footer_top_z SPAN {
	FONT-WEIGHT: bold; MARGIN: 0px 15px 0px 8px; COLOR: #12385f
}
.footer_top_z A {
	MARGIN: 0px 5px; COLOR: #12385f;
}
.footer_z P {
	LINE-HEIGHT: 24px; TEXT-ALIGN: center; color:#FFF;
}
.copyRight01_z {
	MARGIN-TOP: 8px
}
.copyRight01_z SPAN {
	FONT-WEIGHT: bold; COLOR: #12385f
}
.copyRight02_z SPAN {
	FONT-WEIGHT: bold; COLOR: #333
}
.mosttop {
	FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 950px; HEIGHT: 70px
}
.zoujiceng {
	FLOAT: left; WIDTH: 472px; MARGIN-RIGHT: 6px; HEIGHT: 70px
}
.zoujiceng IMG {
	FLOAT: left; WIDTH: 472px; HEIGHT: 70px
}
.toupiao {
	FLOAT: left; WIDTH: 472px
}
.zoujiceng IMG {
	FLOAT: left; WIDTH: 472px; HEIGHT: 70px
}
.d_code {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px 10px; OVERFLOW: hidden; BORDER-LEFT: #aaa 1px solid; WIDTH: 170px; PADDING-TOP: 10px; BORDER-BOTTOM: #aaa 1px solid
}
.d_code P {
	FLOAT: left; WIDTH: 80px; HEIGHT: 96px; TEXT-ALIGN: center
}
.d_code P.devider {
	WIDTH: 10px
}
